@font-face {
    font-family: 'Jost';
    src: url("./fonts/static/Jost-Regular.ttf");
    font-weight: 400;
}
header,section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-right {
    margin-right: 60px;
}

.buy-btn {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Jost';
    font-size: 18px;
    padding: 12px 26px 18px;
}

#logo {
    margin-left: 60px;
}

.zoom:hover {
    transform: scaleY(1.1);
    transition: flat;
}

li a {
    text-decoration: none;
    margin-left: 10px;
    color: #000000;
}

section {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}


p,span,h5 {
    font-family: 'Jost';
}
.wrapper, #product-banner{
    display:flex;
    justify-content: space-around;
}
.link-btns {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.row-btns {
    display:flex;
    flex-direction: row;
    margin-bottom: 8px;
    width: 100%;
}

#product-description-wrapper {
    align-items: flex-end;
}
.product-description-right {
    margin-left: 50px;
}

.product-banner-left {
    margin-top: 46px;
    padding-top: 116px;
}

.title-product-banner, .title-product {
    font-size: 96px;
}

.title-product {
    margin-bottom: 43px;
}

.subtitle-product-banner {
    font-family: 'Jost';
    font-size: 50px;
    margin-top: 40px;
}

.product-description-banner {
    font-family: 'Jost';
    font-size: 26px;
    margin-top: 46px;
}

#product-advantages {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.advantage-description, .bottom-right, .bottom-left {
    font-family:'Jost';
    font-size: 10px;
}

.design-addicted-btn {
    font-family: 'Jost';
    font-size: 14px;
    color: #ffffff;
    background-color: #E2B013;
    padding: 4px;
    position: absolute;
}

.description-product {
    font-size: 22px;
}

.link-btn {
    padding: 9px 30px 9px 16px;
    background-color: #000000;
    margin: 0px 10px 0px 0px;
    color: #ffffff;
}
#landing-pages {
    flex-direction: column;
    gap: 60px;
}
.pages-container {
    flex-direction: column;
    width: 100%;
}
.landing-pages-row {
    display: flex;
    flex-direction: row;
    gap: 46px;
    margin-bottom: 78px;
}

.landing-page {
   background-color: rgba(0, 0, 0, 4%);
   padding: 29px 29px 0px 29px;
}
.landing-page-title {
    font-size: 26px;
    margin-top: 17px;
}

.landing-page-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 6px 100px 14px 30px;
}
.landing-page-btn span {
    font-size: 36px;
}
.landing-section-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.search-input {
    width: 100px;
    border-radius: 42px;
    transition: width 05ms;
}
.footer {
    height: 583px;
}
.footer-top, .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 0px 60px;
}
.footer-bottom {
    padding: 0px 60px 0px 60px;
}
.footer-bottom-info {
    color: #E2B013;
}
.footer-right {
    display: flex;
    gap: 5px;
    width: 50%;
}
.footer-left {
    width: 50%;
}
.links-to-works-column, .links-to-works-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
}
.links-to-works-block {
    align-items: flex-start;
    width: 100%;
}
.links-to-works-block ul, .links-to-works-column ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 13px;
    margin-top: 0px;
    padding: 0px;
}
.link-to-work {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Jost';
}
.block-links-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 13px;
}

#footer-icons {
    margin-bottom: 194px;
}
#subscribe-form {
    margin-bottom: 199px;
}
#footer-input {
    height: 40px;
    width: 370px;
}
.footer-btn {
    height: 40px;
    background-color: #000000;
    width: 120px;
    cursor: pointer;
    border: none;
}
.form-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 33px;
}

#form-subscribe {
    display: flex;
    gap: 10px;
}
